<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687983679377-amj6o0ooa47al0tqogcfi0k52hjov3s8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687983679377-amj6o0ooa47al0tqogcfi0k52hjov3s8</string>
	<key>API_KEY</key>
	<string>AIzaSyA6zZ-VCUfX9lYpEXn0X1Du_m-iw_UhWmo</string>
	<key>GCM_SENDER_ID</key>
	<string>687983679377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zawLinHtikeApAssignment</string>
	<key>PROJECT_ID</key>
	<string>auth-admin-94122</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-admin-94122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687983679377:ios:58d46ae6694956ccfcac30</string>
</dict>
</plist>